<ion-tabs #myTabs>

  <ion-tab tab="drink">
    <ion-router-outlet name="drink"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="menu" >
    <ion-router-outlet name="menu"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="settings">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="drink" href="/tabs/(drink:drink)">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Drink</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/(menu:menu)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/(settings:settings)">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
